@model Course

@{
    ViewData["Title"] = "Kurs Kayıt Sil";
}

<p>
    <b>@Model.Name</b> isimli kursu silmek istiyor musunuz?

    <form asp-action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.CourseId">
        <button type="submit" class="btn btn-success">Evet</button>
        <a asp-action="Index" class="btn btn-danger">Hayır</a>
    </form>
</p>